web/WEB-INF/wsdl/localhost_8080/MtomServer/MtomService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.operation.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.operation.com/" name="MtomService">
<wsp:Policy wsu:Id="MtomPortBinding_MTOM_Policy-MtomPortBinding_MTOM_Policy">
<ns1:OptimizedMimeSerialization xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true"/>
</wsp:Policy>
<types>
<xsd:schema>
<xsd:import namespace="http://service.operation.com/" schemaLocation="http://localhost:8080/MtomServer/MtomService?xsd=1"/>
</xsd:schema>
</types>
<message name="sumNumbers">
<part name="parameters" element="tns:sumNumbers"/>
</message>
<message name="sumNumbersResponse">
<part name="parameters" element="tns:sumNumbersResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="uploadFile">
<part name="parameters" element="tns:uploadFile"/>
</message>
<message name="uploadFileResponse">
<part name="parameters" element="tns:uploadFileResponse"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<portType name="Mtom">
<operation name="sumNumbers">
<input wsam:Action="http://service.operation.com/Mtom/sumNumbersRequest" message="tns:sumNumbers"/>
<output wsam:Action="http://service.operation.com/Mtom/sumNumbersResponse" message="tns:sumNumbersResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://service.operation.com/Mtom/helloRequest" message="tns:hello"/>
<output wsam:Action="http://service.operation.com/Mtom/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="uploadFile">
<input wsam:Action="http://service.operation.com/Mtom/uploadFileRequest" message="tns:uploadFile"/>
<output wsam:Action="http://service.operation.com/Mtom/uploadFileResponse" message="tns:uploadFileResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://service.operation.com/Mtom/uploadFile/Fault/IOException"/>
</operation>
</portType>
<binding name="MtomPortBinding" type="tns:Mtom">
<wsp:PolicyReference URI="#MtomPortBinding_MTOM_Policy-MtomPortBinding_MTOM_Policy"/>
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="sumNumbers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="uploadFile">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
</binding>
<service name="MtomService">
<port name="MtomPort" binding="tns:MtomPortBinding">
<soap:address location="http://localhost:8080/MtomServer/MtomService"/>
</port>
</service>
</definitions>