web/WEB-INF/wsit-com.operation.service.Mtom.xml

<?xml version="1.0" encoding="UTF-8"?> 
 <definitions 
 xmlns="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="MtomService" targetNamespace="http://service.operation.com/" xmlns:tns="http://service.operation.com/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" 
 >
    <message name="hello"/>
    <message name="helloResponse"/>
    <message name="sumNumbers"/>
    <message name="sumNumbersResponse"/>
    <message name="uploadFile"/>
    <message name="uploadFileResponse"/>
    <portType name="Mtom">
        <operation name="hello">
            <input message="tns:hello"/>
            <output message="tns:helloResponse"/>
        </operation>
        <operation name="sumNumbers">
            <input message="tns:sumNumbers"/>
            <output message="tns:sumNumbersResponse"/>
        </operation>
        <operation name="uploadFile">
            <input message="tns:uploadFile"/>
            <output message="tns:uploadFileResponse"/>
        </operation>
    </portType>
    <binding name="MtomPortBinding" type="tns:Mtom">
        <wsp:PolicyReference URI="#MtomPortBindingPolicy"/>
        <operation name="hello">
            <input/>
            <output/>
        </operation>
        <operation name="sumNumbers">
            <input/>
            <output/>
        </operation>
        <operation name="uploadFile">
            <input/>
            <output/>
        </operation>
    </binding>
    <service name="MtomService">
        <port name="MtomPort" binding="tns:MtomPortBinding"/>
    </service>
    <wsp:Policy wsu:Id="MtomPortBindingPolicy">
        <wsp:ExactlyOne>
            <wsp:All>
                <wsoma:OptimizedMimeSerialization/>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
</definitions>
